<div class="row">
    <div class="col-12">
        <nb-card [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="giant">
            <nb-card-header>
                Upload CV
            </nb-card-header>
            <nb-card-body>
                <div class="form-group">
                    <input type="file" id="file" (change)="handleFileInput($event.target.files)">
                    <button nbButton shape="rectangle" status="primary" size="tiny" class="mx-1"
                        (click)="uploadFileToActivity()">
                        <nb-icon pack="fa-solid" icon="upload"></nb-icon>&emsp;Upload
                    </button>
                    <button *ngFor="let link of candidates" nbButton hero shape="rectangle" status="success" size="tiny"
                        class="mx-1"> <a href="{{baseUrl}}/{{link.documents}}">
                            <nb-icon pack="fa-solid" icon="download"></nb-icon>&emsp;Download CV
                        </a>

                    </button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>