<div class="vh-100 d-flex align-items-center justify-content-center">
    <nb-card class="m-0">
      <nb-card-body>
        <h1 class="text-center mb-0"><img class="img-fluid" src="../../../../assets/images/enigmacamp.jpeg" width="350" /></h1>
        <div [nbSpinner]="loading" nbSpinnerStatus="{{ loadingStatus }}" nbSpinnerSize="giant">
          <div class="col-12 p-0">
            <p class="lead font-weight-bold form-control-plaintext text-center mb-5 mt-2">Account Forgot Password Form</p>
          </div>
          <div *ngIf="displayAlert" class="col-12 p-md-0">
            <nb-alert [status]="alertMessage.status">{{ alertMessage.message }}</nb-alert>
          </div>
          <form [formGroup]="forgetfulForm" class="form-horizontal" method="POST" (ngSubmit)="ngSubmit(forgetfulForm.value, forgetfulForm.valid)">
            <div class="form-group row">
              <div class="col-12">
                <div class="input-group r">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <nb-icon icon="at" pack="fa-solid"></nb-icon>
                    </span>
                  </div>
                  <input type="text" placeholder="Email Address" class="form-control"
                    formControlName="username" autocomplete="false" autofocus nbInput shape="rectangle">
                </div>
                <small *ngIf="form('username').invalid && (form('username').dirty || form('username').touched)"
                  class="form-text text-danger">
                  <div *ngIf="form('username').errors?.required">
                    This field is required.
                  </div>
                </small>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-3">
                <button type="reset" (click)="ngRedirect()" nbButton fullWidth status="light" shape="rectangle" class="btn btn-light px-2">
                  <nb-icon icon="undo-alt" pack="fa-solid"></nb-icon>&emsp;Back
                </button>
              </div>
              <div class="col-9">
                <button type="submit" nbButton fullWidth status="primary" shape="rectangle" [disabled]="!forgetfulForm.valid || successful">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
