<div class="vh-100 d-flex align-items-center justify-content-center">
  <nb-card class="m-0">
    <nb-card-body>
      <h1 class="text-center mb-0"><img class="img-fluid" src="../../../../assets/images/enigmacamp.jpeg" width="350" /></h1>
      <div [nbSpinner]="loading" nbSpinnerStatus="{{ loadingStatus }}" nbSpinnerSize="giant">
        <div class="col-12 p-0">
          <p class="lead font-weight-bold form-control-plaintext text-center mb-5 mt-2">Account Password Reset Form</p>
        </div>
        <div *ngIf="displayAlert" class="col-12 p-md-0">
          <nb-alert [status]="alertMessage.status">{{ alertMessage.message }}</nb-alert>
        </div>
        <form [formGroup]="passwordForm" method="POST" (ngSubmit)="ngSubmit(passwordForm.value, passwordForm.valid)">
          <div class="form-group row">
            <div class="col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <nb-icon icon="key" pack="fa-solid"></nb-icon>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="New Password" formControlName="password"
                  autocomplete="false" autofocus nbInput shape="rectangle">
              </div>
              <small *ngIf="form('password').invalid && (form('password').dirty || form('password').touched)"
                class="form-text text-danger">
                <div *ngIf="form('password').errors?.required">
                  This field is required.
                </div>
                <div *ngIf="form('password').errors?.minlength">
                  Password cannot be less than 5 characters.
                </div>
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <nb-icon icon="key" pack="fa-solid"></nb-icon>
                  </span>
                </div>
                <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword"
                  autocomplete="false" nbInput shape="rectangle">
              </div>
              <small *ngIf="form('confirmPassword').invalid && (form('confirmPassword').dirty || form('confirmPassword').touched)"
                class="form-text text-danger">
                <div *ngIf="form('confirmPassword').errors?.required">
                  This field is required and must be the exact same value as your new password.
                </div>
              </small>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <button type="submit" nbButton fullWidth status="primary" shape="rectangle" [disabled]="!passwordForm.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </nb-card-body>
  </nb-card>
</div>
