<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="about-title mx-auto text-center">
                    <h2 class="font-weight-light">Comprehensive program to prepare full stack Software Developer and Career path</h2>
                    <p class="text-muted pt-4">We commited to Software Development Solutions by providing multiple stacks of Education and Preparation to build Quality Software Developer.</p>
                </div>
            </div>
        </div>
        <div class="row margin-t-50">
            <div class="col-lg-4 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/MI.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Muhammad Irfan</h4>
                    <p class="text-uppercase team-designation">Chief Executive Officer</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/NN.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Nanang Zulkarnain</h4>
                    <p class="text-uppercase team-designation">Chief Relationship Officer</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/SD.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Samuel Dian</h4>
                    <p class="text-uppercase team-designation">Chief Financial Officer</p>
                </div>
            </div>
        </div>


            <div class="row margin-t-50">
            <div class="col-lg-6 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/AA.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Andi Achirudin</h4>
                    <p class="text-uppercase team-designation">Chief Operation Officer</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="team-box text-center">
                    <div class="team-wrapper">
                        <div class="team-member">
                            <img alt="" src="assets/images/team/RK.jpg" class="img-fluid rounded">
                        </div>
                    </div>
                    <h4 class="team-name">Roy Kumowal</h4>
                    <p class="text-uppercase team-designation">Chief Technology Officer</p>
                </div>
            </div>
        </div>
    </div>
</section>